// BASE RULES
// =====================================


// A Base rule is applied to an element using an element selector, a descendent selector,
// or a child selector, along with any pseudo-classes.
// It doesn't include any class or ID selectors.
// It is defining the default styling for how that element should look in all occurrences on the page.


// Typography

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  line-height: 1.4;
  font-size: 16px; font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
h1 {

  
}
h2 {

}
h3 {
  
}
h4 {
  
}
h5 {
  
}
h6 {
  
}
b, strong {
  
}
i, em {
  
}
hr {
  
}
p, ul, ol, hr, table, form, fieldset {

}
li {
}
blockquote {
  
}

figcaption {

}

time {}

img {
  max-width: 100%;
}

// Links

a:link { color: $lBlue; text-decoration: underline;}
a:visited { color: $lBlue; text-decoration: underline;} 
a:hover { color: $dBlue; text-decoration: underline; }

footer a:link { color: $dBlue; text-decoration: underline;}
footer a:visited { color: $dBlue; text-decoration: underline;} 
footer a:hover { color: $white; text-decoration: underline; }


// Forms

form {}
label {}

input[type],
textarea {
  outline: none;
}

// Tables

table {
  width: 100%;
  border: 0.1em solid $black;

  caption { font-weight: bold; padding: 0.5em 0; }
  thead {
    color: $white;
    text-align: left;
    text-align: center;
    background-color: $black;

    th { border-color: lighten($black, 10%); }
  }
  th,td { padding: 0.5em; border: 0.1em solid $black; }
  td { text-align: left; }

  th[scope="row"] { font-weight: normal; }
  th[scope="rowgroup"] { vertical-align: middle; }
  th[scope="row"],
  th[scope="rowgroup"] { text-align: left; }

  tbody tr:nth-of-type(even) {
    background-color: $black;
  }
  tfoot {
    color: $white;
    font-size: 75%;
    background-color: $black;

    td { text-align: center; }
  }
}

