// =====================================
// LAYOUT RULES
// =====================================

// CSS, by its very nature, is used to lay elements out on the page.
// However, there is a distinction between layouts dictating the major and minor components of a page.
// The minor components such as a callout, or login form, or a navigation item sit within the scope of major components such as a header or footer.

* {
  @include box-sizing(border-box);
}

.left { float: left; }

$fontstack: proxima-nova, helvetica, sans-serif; 

body {
	background: url('../img/bgtex.png') repeat;
	font-family: $fontstack;
	color: $bodyCol; 
	font-size: $mainBody;
}

header {
	margin-bottom: 20px;
	height: 180px;
}

#nav {
	float: left;
	width: auto;
}

#container { 
	max-width: 1024px;
	margin: 30px auto 0;
	background: url('../img/digitalhealthbg.png') right top no-repeat #fff;
	background-size: 70%;
	padding: 25px 0;
}

.submit { 
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: $green;
	color: $white;
	border: none;
	height: 45px;
 }

#topBox {
	background: $lBlue;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    -moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: solid 5px $white;
	padding: 40px 15px;
	float: left;
	margin-left: 30px;
}

#topBox p { 
	color: $white;
	font-size: $mainBody;
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#twitter {
	background: url('../img/twitterfeedBorder.png') top left no-repeat;
	height: 250px;
	margin-top: 50px;
}


// =============
// FOOTER
// =============

#clear { clear: both; }

footer { 
	background: $lBlue;
	color: $white;
	height: 215px;
	margin: 0 auto 30px;
	max-width: 1024px;
	font-size: 10pt;
	padding: 15px 30px;
}

footer ul { list-style: none; margin: 0; padding: 0}

.social { text-align: right; }
.social p { font-size: 8pt; } .social img { margin: 0 5px; }
.social span { font-size: 30pt; margin-left: 10px;  }

//SOCIAL LINKS //

.social a:link { color: $white; text-decoration: none;}
.social a:visited { color: $white; text-decoration: none;} 
.social a:hover { color: $dBlue; text-decoration: none; }


// =============
// END FOOTER
// =============


@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    
    p { text-align: justify; }

    #container { 
	width: 100%;
	margin: 30px 0 0;
	background:#fff !important;
	padding: 25px 0;
	}

	footer { 
		height: 500px;
		margin: 0 auto 30px;
		width: 100%;
		font-size: 10pt;
	}

	.social { text-align: left; }



	#topBox {
		background: $lBlue;
		padding:30px;
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	#topBox p { 
		color: $white;
		font-size: $mainBody;
		opacity: 1;
	    filter: alpha(opacity=100); /* For IE8 and earlier */
	}

}
