// =====================================
// Mixins used in your theme. 
// =====================================
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; } 
}

@mixin MQ($point) {
  @if $point == L {
    @media (min-width: 801px) { @content; }
  }
  @else if $point == MtoL {
    @media (min-width: 501px) and (max-width: 800px) { @content; }
  }
  @else if $point == M {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == S {
    @media (max-width: 500px) { @content; }
  }
}

@include font-face("Mono Social Icons Font", font-files("../icons/MonoSocialIconsFont-1.10.woff", "../icons/MonoSocialIconsFont-1.10.ttf", "../icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "../icons/MonoSocialIconsFont-1.10.eot", normal, normal);

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
