.menu_container.green > ul > li:hover > a { background-color: $dBlue; }
.menu_container.green > ul > li > .menu_dropdown_block p.links a { color: $white; }
.menu_container.green > ul > li > .menu_dropdown_block p.links a:hover {
    color: #43552b;
    border-bottom: 1px dotted #657f40;
}

.menu_container.green ul.menu_submenu_block li:hover > a {
    background: $lBlue;
}

.menu_container {
    margin-bottom: 30px;
    height: auto;
    clear: both;
    float: left;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-transform: uppercase;
    background: $white;
}

.menu_container.full_width {
    width: 100%;
}

.menu_container > ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: inherit;
    height: 0;
    overflow: hidden;
}

.menu_container > ul > li {
    position: relative;
    background: inherit;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.menu_container > ul > li > a {
    padding: 8px 25px;
    display: block;
    color: $lBlue;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    height: 60px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.menu_container > ul > li > a:hover {
    color: $lBlue;
    text-decoration: none;
}

.menu_container > ul > li .fa {
    font-size: 14px;
    margin-right: 2px;
}

.menu_container > ul > li.last > a {
    box-shadow: none;
    border-right: none;
}

.menu_container > ul > li:hover {
    margin-left: -1px;
}

.menu_container > ul > li:hover > a {
    padding-left: 26px;
}

/** Dropdown block **/

.menu_container .menu_dropdown_block {
    visibility: hidden;
    position: relative;
    border-top: none;
    background: $dBlue;
    top: 100%;
    color: $white;
    overflow: hidden;
    z-index: 30;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 0;
    width: auto;
    font-size: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.menu_container > ul > li.right > .menu_dropdown_block {
    right: 0;
}

.menu_container .menu_dropdown_block p {
    padding: 5px 5px;
    margin-bottom: 10px;
    line-height: 1.7em;
    font-size: 1em;
}

.menu_container .menu_dropdown_block *.small {
    font-size: 11px;
    color: $white;
}

.menu_container .menu_dropdown_block p.links a {
    text-decoration: none;
}

.menu_container > ul > li:hover > .menu_dropdown_block {
    visibility: visible;
    height: auto;
    min-height:40px;
    max-height:3000px;
}

.menu_container .menu_dropdown_block.full_width {
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

.menu_container .menu_dropdown_block.half_width {
    width: 50%;
}

.menu_container .menu_dropdown_block .md-container {
    padding: 15px 20px 15px 20px;
}

.menu_container .menu_dropdown_block .md-container:after {
    content: ' ';
    display: block;
    clear: both;
}

.menu_container .menu_dropdown_block .column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: none;
    width: auto;
}

.menu_container .menu_dropdown_block .column .content {
    padding: 10px 20px;
}

.menu_container .menu_dropdown_block h1,
.menu_container .menu_dropdown_block h2 {
    font-family: $fontstack;
}

.menu_container .menu_dropdown_block h1 {
    font-size: 24px;
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #555;
    border-bottom: 2px solid #888;
    padding: 5px 0 5px 5px;
}
.menu_container .menu_dropdown_block h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    padding: 5px 0 5px 5px;
    margin: 0 0 10px 0;
    color: $white;
    border-bottom: 1px solid #4a94ae;
    height: 50px;
}

img.auto_width {
    width: auto;
    width: 100%;
}

ul.menu_submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

ul.menu_submenu li {
    display: block;
}

ul.menu_submenu li a {
    display: block;
    padding: 4px 0;
    text-decoration: none;
    color: $white;
    margin: 2px 0;
    font-size: 13px;
    line-height: 1.3em;
}

ul.menu_submenu li a:before {
    content: '\203A';
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -1px;
    font-weight: bold;
}

ul.menu_submenu li a:hover {
    color: #111;
}

ul.menu_submenu li a > span {
    font-family: Calibri;
    font-size: 10px;
}

/** Submenu block **/

ul.menu_submenu_block {
    list-style: none;
    padding: 0;
    margin: 0;
    /*padding: 10px 0 10px 0;*/
    font-size: 1em;
}

ul.menu_submenu_block li {
    display: block;
    position: relative;
}

ul.menu_submenu_block li a {
    display: block;
    padding: 8px 25px 8px 18px;
    text-decoration: none;
    color: $white;
    margin: 0;
    white-space: nowrap;
}

ul.menu_submenu_block li:hover > a {
    color: #fff;
}

ul.menu_submenu_block > li.has-submenu > a:after {
    content: "\203A";
    position: absolute;
    font-family: Arial, sans-serif;
    top: 6px;
    right: 10px;
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    opacity: 0.7;
}

ul.menu_submenu_block > li.has-submenu:hover > a:after {
    opacity: 1;
}

ul.menu_submenu_block > li > .menu_submenu_block {

    visibility: hidden;
    opacity: 0;
    position: relative;
    width: auto;
    text-align: left;
    min-width: 160px;
    top: 100%;
    height: 0;
}

ul.menu_submenu_block > li.has-submenu:hover > .menu_submenu_block {
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    -webkit-transition: opacity 100ms linear;
    height: auto;
}

ul.menu_submenu_block > li > .menu_submenu_block a { padding-left: 30px; }
ul.menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block a { padding-left: 40px; }
ul.menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block a { padding-left: 50px; }

.mobile_collapser {
    display: block;
    height: 40px;
    padding: 12px 25px;
    color: #fff;
    background: $dBlue;
    font-size: 16px;
    line-height: 22px;
}

.mobile_collapser:before {
    content: '\2261';
    display: block;
    float: right;
    margin: -1px 8px 0 0;
    font-size: 30px;
}

#hidden_menu_collapser { display: none; }

#hidden_menu_collapser:checked + ul {
    height: auto;
    min-height:40px;
    max-height:2999px;
}

.menu_container > ul.collapsed {
    height: auto;
    min-height:40px;
    max-height:2999px;
}

/* Mobile(Responsive) */

@media only screen and (max-width: 940px) and (min-width: 640px) {

    .menu_container > ul > li > a {
        padding: 8px 15px;
        font-size: 14px;
    }

    .menu_container > ul > li:hover > a {
        padding-left: 16px;
    }


}

@media only screen and (min-width: 640px) {

    .mobile_collapser {
        display: none;
    }

    .menu_container {
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu_container > ul {
        transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -webkit-transition: all 100ms linear;
        height: 60px;
        background: none;
        overflow: visible;
    }

    .menu_container > ul > li {
        position: static;
        float: left;
        background: inherit;
    }

    .menu_container > ul > li:hover {
        margin-left: -1px;
    }

    .menu_container > ul > li > a {
        border-right: none;
        border-right: 1px solid rgba(255,255,255,0.25);
    }

    .menu_container .menu_dropdown_block {
        position: absolute;
        opacity: 0;
    }

    .menu_container > ul > li:hover > .menu_dropdown_block {
        overflow: visible;
        opacity: 1;
        margin-left: -1px;
    }

    .menu_container > ul > li.right {
        float: right;
    }

    .menu_container .menu_dropdown_block .column {
        float: left;
    }

    .menu_container .menu_dropdown_block .column.bordered {
        border-right: 1px solid #ddd;
    }

    ul.menu_submenu_block > li {
    }

    ul.menu_submenu_block > li > .menu_submenu_block {
        position: absolute;
        top: 0;
        height: auto;
        min-width: 160px;
        left: 100%;
        background: #fff;
    }

    .menu_container .menu_dropdown_block > ul.menu_submenu_block > li > ul.menu_submenu_block {
        margin-left: 0;
    }

    ul.menu_submenu_block > li > .menu_submenu_block a { padding-left: 20px !important; }

    ul.menu_submenu_block.right-align li a {
        text-align: right;
    }

    ul.menu_submenu_block.right-align li.has-dropdown > a:after {
        content: '\2039';
        right: auto;
        left: 10px;
    }

    ul.menu_submenu_block.right-align li a .fa {
        margin-right: 0;
        margin-left: 6px;
    }

    ul.menu_submenu_block.right-align > li .menu_submenu_block {
        left: auto;
        right: 100%;
    }

    ul.menu_submenu_block.right-align li.has-dropdown > a:after {
        content: '\2039';
        right: auto;
        left: 10px;
    }

    ul.menu_submenu_block > li.has-dropdown:hover > .menu_submenu_block {

    }

    .menu_container .menu_dropdown_block .column.one-col { width: 100%; }
    .menu_container .menu_dropdown_block .column.two-col { width: 50%; }
    .menu_container .menu_dropdown_block .column.three-col { width: 33%; }
    .menu_container .menu_dropdown_block .column.four-col { width: 25%; }
    .menu_container .menu_dropdown_block .column.five-col { width: 20%; }
    .menu_container .menu_dropdown_block .column.six-col { width: 16%; }

    .menu_container .menu_dropdown_block .column.col10per { width: 10%; }
    .menu_container .menu_dropdown_block .column.col20per { width: 20%; }
    .menu_container .menu_dropdown_block .column.col30per { width: 30%; }
    .menu_container .menu_dropdown_block .column.col40per { width: 40%; }
    .menu_container .menu_dropdown_block .column.col50per { width: 50%; }
    .menu_container .menu_dropdown_block .column.col60per { width: 60%; }
    .menu_container .menu_dropdown_block .column.col70per { width: 70%; }
    .menu_container .menu_dropdown_block .column.col80per { width: 80%; }
    .menu_container .menu_dropdown_block .column.col90per { width: 90%; }
}

/***************/

.menu_container.topfixed {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 0;
}

.menu_container.centered > ul {
    float: none;
    margin: 0 auto;
    max-width: 1000px;
}