// ===============================================
// All variables to be used in your theme go here. 
// ===============================================

// ===================
// COLOURS
// ===================

// greyscale

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// site colours

$maincolor: rgb(0, 0, 255);
$compcolor: rgb(255, 0, 0);

$dBlue: rgb(5,110,148);
$lBlue: rgb(100,178,183);
$green: rgb(144,183,62);
$bodyCol: rgb(49,79,16);

// FONTS

$mainBody: 11pt;

// links

// normal: $maincolor;
//$hover: $compcolor;
//$active: $compcolor;
//$visited: $maincolor;
//$focus: $compcolor;