@font-face {
  font-family: "Mono Social Icons Font";
  src: url('../fonts/../icons/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/../icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/../icons/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/../icons/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/../icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal; }
/* line 29, ../sass/_mixins.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 43, ../sass/_mixins.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 11, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 30, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 50, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
/* line 74, ../sass/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 94, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 108, ../sass/_normalize.scss */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 116, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 133, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 141, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 151, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 163, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
/* line 173, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 181, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 189, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 197, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 201, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 213, ../sass/_normalize.scss */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 221, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 233, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 245, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 256, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 267, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 281, ../sass/_normalize.scss */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 294, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 306, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 316, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 328, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 340, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 349, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 360, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 373, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 13, ../sass/_base.scss */
html {
  font-size: 62.5%; }

/* line 16, ../sass/_base.scss */
body {
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased; }

/* line 22, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; }

/* line 68, ../sass/_base.scss */
img {
  max-width: 100%; }

/* line 74, ../sass/_base.scss */
a:link {
  color: #64b2b7;
  text-decoration: underline; }

/* line 75, ../sass/_base.scss */
a:visited {
  color: #64b2b7;
  text-decoration: underline; }

/* line 76, ../sass/_base.scss */
a:hover {
  color: #056e94;
  text-decoration: underline; }

/* line 78, ../sass/_base.scss */
footer a:link {
  color: #056e94;
  text-decoration: underline; }

/* line 79, ../sass/_base.scss */
footer a:visited {
  color: #056e94;
  text-decoration: underline; }

/* line 80, ../sass/_base.scss */
footer a:hover {
  color: white;
  text-decoration: underline; }

/* line 88, ../sass/_base.scss */
input[type],
textarea {
  outline: none; }

/* line 95, ../sass/_base.scss */
table {
  width: 100%;
  border: 0.1em solid black; }
  /* line 99, ../sass/_base.scss */
  table caption {
    font-weight: bold;
    padding: 0.5em 0; }
  /* line 100, ../sass/_base.scss */
  table thead {
    color: white;
    text-align: left;
    text-align: center;
    background-color: black; }
    /* line 106, ../sass/_base.scss */
    table thead th {
      border-color: #1a1a1a; }
  /* line 108, ../sass/_base.scss */
  table th, table td {
    padding: 0.5em;
    border: 0.1em solid black; }
  /* line 109, ../sass/_base.scss */
  table td {
    text-align: left; }
  /* line 111, ../sass/_base.scss */
  table th[scope="row"] {
    font-weight: normal; }
  /* line 112, ../sass/_base.scss */
  table th[scope="rowgroup"] {
    vertical-align: middle; }
  /* line 113, ../sass/_base.scss */
  table th[scope="row"],
  table th[scope="rowgroup"] {
    text-align: left; }
  /* line 116, ../sass/_base.scss */
  table tbody tr:nth-of-type(even) {
    background-color: black; }
  /* line 119, ../sass/_base.scss */
  table tfoot {
    color: white;
    font-size: 75%;
    background-color: black; }
    /* line 124, ../sass/_base.scss */
    table tfoot td {
      text-align: center; }

/* line 9, ../sass/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 13, ../sass/_layout.scss */
.left {
  float: left; }

/* line 17, ../sass/_layout.scss */
body {
  background: url("../img/bgtex.png") repeat;
  font-family: proxima-nova, helvetica, sans-serif;
  color: #314f10;
  font-size: 11pt; }

/* line 24, ../sass/_layout.scss */
header {
  margin-bottom: 20px;
  height: 180px; }

/* line 29, ../sass/_layout.scss */
#nav {
  float: left;
  width: auto; }

/* line 34, ../sass/_layout.scss */
#container {
  max-width: 1024px;
  margin: 30px auto 0;
  background: url("../img/digitalhealthbg.png") right top no-repeat #fff;
  background-size: 70%;
  padding: 25px 0; }

/* line 42, ../sass/_layout.scss */
.submit {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #90b73e;
  color: white;
  border: none;
  height: 45px; }

/* line 52, ../sass/_layout.scss */
#topBox {
  background: #64b2b7;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: solid 5px white;
  padding: 40px 15px;
  float: left;
  margin-left: 30px; }

/* line 68, ../sass/_layout.scss */
#topBox p {
  color: white;
  font-size: 11pt;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }

/* line 75, ../sass/_layout.scss */
#twitter {
  background: url("../img/twitterfeedBorder.png") top left no-repeat;
  height: 250px;
  margin-top: 50px; }

/* line 86, ../sass/_layout.scss */
#clear {
  clear: both; }

/* line 88, ../sass/_layout.scss */
footer {
  background: #64b2b7;
  color: white;
  height: 215px;
  margin: 0 auto 30px;
  max-width: 1024px;
  font-size: 10pt;
  padding: 15px 30px; }

/* line 98, ../sass/_layout.scss */
footer ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 100, ../sass/_layout.scss */
.social {
  text-align: right; }

/* line 101, ../sass/_layout.scss */
.social p {
  font-size: 8pt; }

/* line 101, ../sass/_layout.scss */
.social img {
  margin: 0 5px; }

/* line 102, ../sass/_layout.scss */
.social span {
  font-size: 30pt;
  margin-left: 10px; }

/* line 106, ../sass/_layout.scss */
.social a:link {
  color: white;
  text-decoration: none; }

/* line 107, ../sass/_layout.scss */
.social a:visited {
  color: white;
  text-decoration: none; }

/* line 108, ../sass/_layout.scss */
.social a:hover {
  color: #056e94;
  text-decoration: none; }

@media only screen and (max-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  /* line 119, ../sass/_layout.scss */
  p {
    text-align: justify; }

  /* line 121, ../sass/_layout.scss */
  #container {
    width: 100%;
    margin: 30px 0 0;
    background: #fff !important;
    padding: 25px 0; }

  /* line 128, ../sass/_layout.scss */
  footer {
    height: 500px;
    margin: 0 auto 30px;
    width: 100%;
    font-size: 10pt; }

  /* line 135, ../sass/_layout.scss */
  .social {
    text-align: left; }

  /* line 139, ../sass/_layout.scss */
  #topBox {
    background: #64b2b7;
    padding: 30px;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

  /* line 148, ../sass/_layout.scss */
  #topBox p {
    color: white;
    font-size: 11pt;
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */ } }
/* line 2, ../sass/_grid.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/* line 8, ../sass/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

/* line 11, ../sass/_grid.scss */
.col-xs-12 {
  width: 100%; }

/* line 14, ../sass/_grid.scss */
.col-xs-11 {
  width: 91.66666667%; }

/* line 17, ../sass/_grid.scss */
.col-xs-10 {
  width: 83.33333333%; }

/* line 20, ../sass/_grid.scss */
.col-xs-9 {
  width: 75%; }

/* line 23, ../sass/_grid.scss */
.col-xs-8 {
  width: 66.66666667%; }

/* line 26, ../sass/_grid.scss */
.col-xs-7 {
  width: 58.33333333%; }

/* line 29, ../sass/_grid.scss */
.col-xs-6 {
  width: 50%; }

/* line 32, ../sass/_grid.scss */
.col-xs-5 {
  width: 41.66666667%; }

/* line 35, ../sass/_grid.scss */
.col-xs-4 {
  width: 33.33333333%; }

/* line 38, ../sass/_grid.scss */
.col-xs-3 {
  width: 25%; }

/* line 41, ../sass/_grid.scss */
.col-xs-2 {
  width: 16.66666667%; }

/* line 44, ../sass/_grid.scss */
.col-xs-1 {
  width: 8.33333333%; }

/* line 47, ../sass/_grid.scss */
.col-xs-pull-12 {
  right: 100%; }

/* line 50, ../sass/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%; }

/* line 53, ../sass/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%; }

/* line 56, ../sass/_grid.scss */
.col-xs-pull-9 {
  right: 75%; }

/* line 59, ../sass/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%; }

/* line 62, ../sass/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%; }

/* line 65, ../sass/_grid.scss */
.col-xs-pull-6 {
  right: 50%; }

/* line 68, ../sass/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%; }

/* line 71, ../sass/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%; }

/* line 74, ../sass/_grid.scss */
.col-xs-pull-3 {
  right: 25%; }

/* line 77, ../sass/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%; }

/* line 80, ../sass/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%; }

/* line 83, ../sass/_grid.scss */
.col-xs-pull-0 {
  right: auto; }

/* line 86, ../sass/_grid.scss */
.col-xs-push-12 {
  left: 100%; }

/* line 89, ../sass/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%; }

/* line 92, ../sass/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%; }

/* line 95, ../sass/_grid.scss */
.col-xs-push-9 {
  left: 75%; }

/* line 98, ../sass/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%; }

/* line 101, ../sass/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%; }

/* line 104, ../sass/_grid.scss */
.col-xs-push-6 {
  left: 50%; }

/* line 107, ../sass/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%; }

/* line 110, ../sass/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%; }

/* line 113, ../sass/_grid.scss */
.col-xs-push-3 {
  left: 25%; }

/* line 116, ../sass/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%; }

/* line 119, ../sass/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%; }

/* line 122, ../sass/_grid.scss */
.col-xs-push-0 {
  left: auto; }

/* line 125, ../sass/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%; }

/* line 128, ../sass/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%; }

/* line 131, ../sass/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%; }

/* line 134, ../sass/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%; }

/* line 137, ../sass/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%; }

/* line 140, ../sass/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%; }

/* line 143, ../sass/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%; }

/* line 146, ../sass/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%; }

/* line 149, ../sass/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%; }

/* line 152, ../sass/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%; }

/* line 155, ../sass/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%; }

/* line 158, ../sass/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%; }

/* line 161, ../sass/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  /* line 165, ../sass/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  /* line 168, ../sass/_grid.scss */
  .col-sm-12 {
    width: 100%; }

  /* line 171, ../sass/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%; }

  /* line 174, ../sass/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%; }

  /* line 177, ../sass/_grid.scss */
  .col-sm-9 {
    width: 75%; }

  /* line 180, ../sass/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%; }

  /* line 183, ../sass/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%; }

  /* line 186, ../sass/_grid.scss */
  .col-sm-6 {
    width: 50%; }

  /* line 189, ../sass/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%; }

  /* line 192, ../sass/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%; }

  /* line 195, ../sass/_grid.scss */
  .col-sm-3 {
    width: 25%; }

  /* line 198, ../sass/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%; }

  /* line 201, ../sass/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%; }

  /* line 204, ../sass/_grid.scss */
  .col-sm-pull-12 {
    right: 100%; }

  /* line 207, ../sass/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%; }

  /* line 210, ../sass/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%; }

  /* line 213, ../sass/_grid.scss */
  .col-sm-pull-9 {
    right: 75%; }

  /* line 216, ../sass/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%; }

  /* line 219, ../sass/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%; }

  /* line 222, ../sass/_grid.scss */
  .col-sm-pull-6 {
    right: 50%; }

  /* line 225, ../sass/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%; }

  /* line 228, ../sass/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%; }

  /* line 231, ../sass/_grid.scss */
  .col-sm-pull-3 {
    right: 25%; }

  /* line 234, ../sass/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%; }

  /* line 237, ../sass/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%; }

  /* line 240, ../sass/_grid.scss */
  .col-sm-pull-0 {
    right: auto; }

  /* line 243, ../sass/_grid.scss */
  .col-sm-push-12 {
    left: 100%; }

  /* line 246, ../sass/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%; }

  /* line 249, ../sass/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%; }

  /* line 252, ../sass/_grid.scss */
  .col-sm-push-9 {
    left: 75%; }

  /* line 255, ../sass/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%; }

  /* line 258, ../sass/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%; }

  /* line 261, ../sass/_grid.scss */
  .col-sm-push-6 {
    left: 50%; }

  /* line 264, ../sass/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%; }

  /* line 267, ../sass/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%; }

  /* line 270, ../sass/_grid.scss */
  .col-sm-push-3 {
    left: 25%; }

  /* line 273, ../sass/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%; }

  /* line 276, ../sass/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%; }

  /* line 279, ../sass/_grid.scss */
  .col-sm-push-0 {
    left: auto; }

  /* line 282, ../sass/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%; }

  /* line 285, ../sass/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  /* line 288, ../sass/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  /* line 291, ../sass/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%; }

  /* line 294, ../sass/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  /* line 297, ../sass/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  /* line 300, ../sass/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%; }

  /* line 303, ../sass/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  /* line 306, ../sass/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  /* line 309, ../sass/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%; }

  /* line 312, ../sass/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  /* line 315, ../sass/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  /* line 318, ../sass/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  /* line 323, ../sass/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  /* line 326, ../sass/_grid.scss */
  .col-md-12 {
    width: 100%; }

  /* line 329, ../sass/_grid.scss */
  .col-md-11 {
    width: 91.66666667%; }

  /* line 332, ../sass/_grid.scss */
  .col-md-10 {
    width: 83.33333333%; }

  /* line 335, ../sass/_grid.scss */
  .col-md-9 {
    width: 75%; }

  /* line 338, ../sass/_grid.scss */
  .col-md-8 {
    width: 66.66666667%; }

  /* line 341, ../sass/_grid.scss */
  .col-md-7 {
    width: 58.33333333%; }

  /* line 344, ../sass/_grid.scss */
  .col-md-6 {
    width: 50%; }

  /* line 347, ../sass/_grid.scss */
  .col-md-5 {
    width: 41.66666667%; }

  /* line 350, ../sass/_grid.scss */
  .col-md-4 {
    width: 33.33333333%; }

  /* line 353, ../sass/_grid.scss */
  .col-md-3 {
    width: 25%; }

  /* line 356, ../sass/_grid.scss */
  .col-md-2 {
    width: 16.66666667%; }

  /* line 359, ../sass/_grid.scss */
  .col-md-1 {
    width: 8.33333333%; }

  /* line 362, ../sass/_grid.scss */
  .col-md-pull-12 {
    right: 100%; }

  /* line 365, ../sass/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%; }

  /* line 368, ../sass/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%; }

  /* line 371, ../sass/_grid.scss */
  .col-md-pull-9 {
    right: 75%; }

  /* line 374, ../sass/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%; }

  /* line 377, ../sass/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%; }

  /* line 380, ../sass/_grid.scss */
  .col-md-pull-6 {
    right: 50%; }

  /* line 383, ../sass/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%; }

  /* line 386, ../sass/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%; }

  /* line 389, ../sass/_grid.scss */
  .col-md-pull-3 {
    right: 25%; }

  /* line 392, ../sass/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%; }

  /* line 395, ../sass/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%; }

  /* line 398, ../sass/_grid.scss */
  .col-md-pull-0 {
    right: auto; }

  /* line 401, ../sass/_grid.scss */
  .col-md-push-12 {
    left: 100%; }

  /* line 404, ../sass/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%; }

  /* line 407, ../sass/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%; }

  /* line 410, ../sass/_grid.scss */
  .col-md-push-9 {
    left: 75%; }

  /* line 413, ../sass/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%; }

  /* line 416, ../sass/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%; }

  /* line 419, ../sass/_grid.scss */
  .col-md-push-6 {
    left: 50%; }

  /* line 422, ../sass/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%; }

  /* line 425, ../sass/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%; }

  /* line 428, ../sass/_grid.scss */
  .col-md-push-3 {
    left: 25%; }

  /* line 431, ../sass/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%; }

  /* line 434, ../sass/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%; }

  /* line 437, ../sass/_grid.scss */
  .col-md-push-0 {
    left: auto; }

  /* line 440, ../sass/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%; }

  /* line 443, ../sass/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  /* line 446, ../sass/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  /* line 449, ../sass/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%; }

  /* line 452, ../sass/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  /* line 455, ../sass/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  /* line 458, ../sass/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%; }

  /* line 461, ../sass/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  /* line 464, ../sass/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  /* line 467, ../sass/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%; }

  /* line 470, ../sass/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  /* line 473, ../sass/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  /* line 476, ../sass/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  /* line 481, ../sass/_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  /* line 484, ../sass/_grid.scss */
  .col-lg-12 {
    width: 100%; }

  /* line 487, ../sass/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%; }

  /* line 490, ../sass/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%; }

  /* line 493, ../sass/_grid.scss */
  .col-lg-9 {
    width: 75%; }

  /* line 496, ../sass/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%; }

  /* line 499, ../sass/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%; }

  /* line 502, ../sass/_grid.scss */
  .col-lg-6 {
    width: 50%; }

  /* line 505, ../sass/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%; }

  /* line 508, ../sass/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%; }

  /* line 511, ../sass/_grid.scss */
  .col-lg-3 {
    width: 25%; }

  /* line 514, ../sass/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%; }

  /* line 517, ../sass/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%; }

  /* line 520, ../sass/_grid.scss */
  .col-lg-pull-12 {
    right: 100%; }

  /* line 523, ../sass/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%; }

  /* line 526, ../sass/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%; }

  /* line 529, ../sass/_grid.scss */
  .col-lg-pull-9 {
    right: 75%; }

  /* line 532, ../sass/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%; }

  /* line 535, ../sass/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%; }

  /* line 538, ../sass/_grid.scss */
  .col-lg-pull-6 {
    right: 50%; }

  /* line 541, ../sass/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%; }

  /* line 544, ../sass/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%; }

  /* line 547, ../sass/_grid.scss */
  .col-lg-pull-3 {
    right: 25%; }

  /* line 550, ../sass/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%; }

  /* line 553, ../sass/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%; }

  /* line 556, ../sass/_grid.scss */
  .col-lg-pull-0 {
    right: auto; }

  /* line 559, ../sass/_grid.scss */
  .col-lg-push-12 {
    left: 100%; }

  /* line 562, ../sass/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%; }

  /* line 565, ../sass/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%; }

  /* line 568, ../sass/_grid.scss */
  .col-lg-push-9 {
    left: 75%; }

  /* line 571, ../sass/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%; }

  /* line 574, ../sass/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%; }

  /* line 577, ../sass/_grid.scss */
  .col-lg-push-6 {
    left: 50%; }

  /* line 580, ../sass/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%; }

  /* line 583, ../sass/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%; }

  /* line 586, ../sass/_grid.scss */
  .col-lg-push-3 {
    left: 25%; }

  /* line 589, ../sass/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%; }

  /* line 592, ../sass/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%; }

  /* line 595, ../sass/_grid.scss */
  .col-lg-push-0 {
    left: auto; }

  /* line 598, ../sass/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%; }

  /* line 601, ../sass/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  /* line 604, ../sass/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  /* line 607, ../sass/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%; }

  /* line 610, ../sass/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  /* line 613, ../sass/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  /* line 616, ../sass/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%; }

  /* line 619, ../sass/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  /* line 622, ../sass/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  /* line 625, ../sass/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%; }

  /* line 628, ../sass/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  /* line 631, ../sass/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  /* line 634, ../sass/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0; } }
/* line 1, ../sass/_nav.scss */
.menu_container.green > ul > li:hover > a {
  background-color: #056e94; }

/* line 2, ../sass/_nav.scss */
.menu_container.green > ul > li > .menu_dropdown_block p.links a {
  color: white; }

/* line 3, ../sass/_nav.scss */
.menu_container.green > ul > li > .menu_dropdown_block p.links a:hover {
  color: #43552b;
  border-bottom: 1px dotted #657f40; }

/* line 8, ../sass/_nav.scss */
.menu_container.green ul.menu_submenu_block li:hover > a {
  background: #64b2b7; }

/* line 12, ../sass/_nav.scss */
.menu_container {
  margin-bottom: 30px;
  height: auto;
  clear: both;
  float: left;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-transform: uppercase;
  background: white; }

/* line 24, ../sass/_nav.scss */
.menu_container.full_width {
  width: 100%; }

/* line 28, ../sass/_nav.scss */
.menu_container > ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  background: inherit;
  height: 0;
  overflow: hidden; }

/* line 40, ../sass/_nav.scss */
.menu_container > ul > li {
  position: relative;
  background: inherit;
  display: block;
  padding: 0;
  margin: 0;
  font-weight: bold; }

/* line 49, ../sass/_nav.scss */
.menu_container > ul > li > a {
  padding: 8px 25px;
  display: block;
  color: #64b2b7;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  height: 60px;
  box-sizing: content-box;
  -moz-box-sizing: content-box; }

/* line 61, ../sass/_nav.scss */
.menu_container > ul > li > a:hover {
  color: #64b2b7;
  text-decoration: none; }

/* line 66, ../sass/_nav.scss */
.menu_container > ul > li .fa {
  font-size: 14px;
  margin-right: 2px; }

/* line 71, ../sass/_nav.scss */
.menu_container > ul > li.last > a {
  box-shadow: none;
  border-right: none; }

/* line 76, ../sass/_nav.scss */
.menu_container > ul > li:hover {
  margin-left: -1px; }

/* line 80, ../sass/_nav.scss */
.menu_container > ul > li:hover > a {
  padding-left: 26px; }

/** Dropdown block **/
/* line 86, ../sass/_nav.scss */
.menu_container .menu_dropdown_block {
  visibility: hidden;
  position: relative;
  border-top: none;
  background: #056e94;
  top: 100%;
  color: white;
  overflow: hidden;
  z-index: 30;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height: 0;
  width: auto;
  font-size: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* line 104, ../sass/_nav.scss */
.menu_container > ul > li.right > .menu_dropdown_block {
  right: 0; }

/* line 108, ../sass/_nav.scss */
.menu_container .menu_dropdown_block p {
  padding: 5px 5px;
  margin-bottom: 10px;
  line-height: 1.7em;
  font-size: 1em; }

/* line 115, ../sass/_nav.scss */
.menu_container .menu_dropdown_block *.small {
  font-size: 11px;
  color: white; }

/* line 120, ../sass/_nav.scss */
.menu_container .menu_dropdown_block p.links a {
  text-decoration: none; }

/* line 124, ../sass/_nav.scss */
.menu_container > ul > li:hover > .menu_dropdown_block {
  visibility: visible;
  height: auto;
  min-height: 40px;
  max-height: 3000px; }

/* line 131, ../sass/_nav.scss */
.menu_container .menu_dropdown_block.full_width {
  left: 0px;
  width: 100%;
  margin-left: 0px; }

/* line 137, ../sass/_nav.scss */
.menu_container .menu_dropdown_block.half_width {
  width: 50%; }

/* line 141, ../sass/_nav.scss */
.menu_container .menu_dropdown_block .md-container {
  padding: 15px 20px 15px 20px; }

/* line 145, ../sass/_nav.scss */
.menu_container .menu_dropdown_block .md-container:after {
  content: ' ';
  display: block;
  clear: both; }

/* line 151, ../sass/_nav.scss */
.menu_container .menu_dropdown_block .column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: none;
  width: auto; }

/* line 158, ../sass/_nav.scss */
.menu_container .menu_dropdown_block .column .content {
  padding: 10px 20px; }

/* line 162, ../sass/_nav.scss */
.menu_container .menu_dropdown_block h1,
.menu_container .menu_dropdown_block h2 {
  font-family: proxima-nova, helvetica, sans-serif; }

/* line 167, ../sass/_nav.scss */
.menu_container .menu_dropdown_block h1 {
  font-size: 24px;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #555;
  border-bottom: 2px solid #888;
  padding: 5px 0 5px 5px; }

/* line 176, ../sass/_nav.scss */
.menu_container .menu_dropdown_block h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  padding: 5px 0 5px 5px;
  margin: 0 0 10px 0;
  color: white;
  border-bottom: 1px solid #4a94ae;
  height: 50px; }

/* line 187, ../sass/_nav.scss */
img.auto_width {
  width: auto;
  width: 100%; }

/* line 192, ../sass/_nav.scss */
ul.menu_submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1em; }

/* line 200, ../sass/_nav.scss */
ul.menu_submenu li {
  display: block; }

/* line 204, ../sass/_nav.scss */
ul.menu_submenu li a {
  display: block;
  padding: 4px 0;
  text-decoration: none;
  color: white;
  margin: 2px 0;
  font-size: 13px;
  line-height: 1.3em; }

/* line 214, ../sass/_nav.scss */
ul.menu_submenu li a:before {
  content: '\203A';
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: -1px;
  font-weight: bold; }

/* line 223, ../sass/_nav.scss */
ul.menu_submenu li a:hover {
  color: #111; }

/* line 227, ../sass/_nav.scss */
ul.menu_submenu li a > span {
  font-family: Calibri;
  font-size: 10px; }

/** Submenu block **/
/* line 234, ../sass/_nav.scss */
ul.menu_submenu_block {
  list-style: none;
  padding: 0;
  margin: 0;
  /*padding: 10px 0 10px 0;*/
  font-size: 1em; }

/* line 242, ../sass/_nav.scss */
ul.menu_submenu_block li {
  display: block;
  position: relative; }

/* line 247, ../sass/_nav.scss */
ul.menu_submenu_block li a {
  display: block;
  padding: 8px 25px 8px 18px;
  text-decoration: none;
  color: white;
  margin: 0;
  white-space: nowrap; }

/* line 256, ../sass/_nav.scss */
ul.menu_submenu_block li:hover > a {
  color: #fff; }

/* line 260, ../sass/_nav.scss */
ul.menu_submenu_block > li.has-submenu > a:after {
  content: "\203A";
  position: absolute;
  font-family: Arial, sans-serif;
  top: 6px;
  right: 10px;
  font-size: 20px;
  line-height: 16px;
  font-weight: bold;
  opacity: 0.7; }

/* line 272, ../sass/_nav.scss */
ul.menu_submenu_block > li.has-submenu:hover > a:after {
  opacity: 1; }

/* line 276, ../sass/_nav.scss */
ul.menu_submenu_block > li > .menu_submenu_block {
  visibility: hidden;
  opacity: 0;
  position: relative;
  width: auto;
  text-align: left;
  min-width: 160px;
  top: 100%;
  height: 0; }

/* line 288, ../sass/_nav.scss */
ul.menu_submenu_block > li.has-submenu:hover > .menu_submenu_block {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  height: auto; }

/* line 298, ../sass/_nav.scss */
ul.menu_submenu_block > li > .menu_submenu_block a {
  padding-left: 30px; }

/* line 299, ../sass/_nav.scss */
ul.menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block a {
  padding-left: 40px; }

/* line 300, ../sass/_nav.scss */
ul.menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block > li > .menu_submenu_block a {
  padding-left: 50px; }

/* line 302, ../sass/_nav.scss */
.mobile_collapser {
  display: block;
  height: 40px;
  padding: 12px 25px;
  color: #fff;
  background: #056e94;
  font-size: 16px;
  line-height: 22px; }

/* line 312, ../sass/_nav.scss */
.mobile_collapser:before {
  content: '\2261';
  display: block;
  float: right;
  margin: -1px 8px 0 0;
  font-size: 30px; }

/* line 320, ../sass/_nav.scss */
#hidden_menu_collapser {
  display: none; }

/* line 322, ../sass/_nav.scss */
#hidden_menu_collapser:checked + ul {
  height: auto;
  min-height: 40px;
  max-height: 2999px; }

/* line 328, ../sass/_nav.scss */
.menu_container > ul.collapsed {
  height: auto;
  min-height: 40px;
  max-height: 2999px; }

/* Mobile(Responsive) */
@media only screen and (max-width: 940px) and (min-width: 640px) {
  /* line 338, ../sass/_nav.scss */
  .menu_container > ul > li > a {
    padding: 8px 15px;
    font-size: 14px; }

  /* line 343, ../sass/_nav.scss */
  .menu_container > ul > li:hover > a {
    padding-left: 16px; } }
@media only screen and (min-width: 640px) {
  /* line 352, ../sass/_nav.scss */
  .mobile_collapser {
    display: none; }

  /* line 356, ../sass/_nav.scss */
  .menu_container {
    height: 80px;
    padding-left: 10px;
    padding-right: 10px; }

  /* line 362, ../sass/_nav.scss */
  .menu_container > ul {
    transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    height: 60px;
    background: none;
    overflow: visible; }

  /* line 372, ../sass/_nav.scss */
  .menu_container > ul > li {
    position: static;
    float: left;
    background: inherit; }

  /* line 378, ../sass/_nav.scss */
  .menu_container > ul > li:hover {
    margin-left: -1px; }

  /* line 382, ../sass/_nav.scss */
  .menu_container > ul > li > a {
    border-right: none;
    border-right: 1px solid rgba(255, 255, 255, 0.25); }

  /* line 387, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block {
    position: absolute;
    opacity: 0; }

  /* line 392, ../sass/_nav.scss */
  .menu_container > ul > li:hover > .menu_dropdown_block {
    overflow: visible;
    opacity: 1;
    margin-left: -1px; }

  /* line 398, ../sass/_nav.scss */
  .menu_container > ul > li.right {
    float: right; }

  /* line 402, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column {
    float: left; }

  /* line 406, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.bordered {
    border-right: 1px solid #ddd; }

  /* line 413, ../sass/_nav.scss */
  ul.menu_submenu_block > li > .menu_submenu_block {
    position: absolute;
    top: 0;
    height: auto;
    min-width: 160px;
    left: 100%;
    background: #fff; }

  /* line 422, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block > ul.menu_submenu_block > li > ul.menu_submenu_block {
    margin-left: 0; }

  /* line 426, ../sass/_nav.scss */
  ul.menu_submenu_block > li > .menu_submenu_block a {
    padding-left: 20px !important; }

  /* line 428, ../sass/_nav.scss */
  ul.menu_submenu_block.right-align li a {
    text-align: right; }

  /* line 432, ../sass/_nav.scss */
  ul.menu_submenu_block.right-align li.has-dropdown > a:after {
    content: '\2039';
    right: auto;
    left: 10px; }

  /* line 438, ../sass/_nav.scss */
  ul.menu_submenu_block.right-align li a .fa {
    margin-right: 0;
    margin-left: 6px; }

  /* line 443, ../sass/_nav.scss */
  ul.menu_submenu_block.right-align > li .menu_submenu_block {
    left: auto;
    right: 100%; }

  /* line 448, ../sass/_nav.scss */
  ul.menu_submenu_block.right-align li.has-dropdown > a:after {
    content: '\2039';
    right: auto;
    left: 10px; }

  /* line 458, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.one-col {
    width: 100%; }

  /* line 459, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.two-col {
    width: 50%; }

  /* line 460, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.three-col {
    width: 33%; }

  /* line 461, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.four-col {
    width: 25%; }

  /* line 462, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.five-col {
    width: 20%; }

  /* line 463, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.six-col {
    width: 16%; }

  /* line 465, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col10per {
    width: 10%; }

  /* line 466, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col20per {
    width: 20%; }

  /* line 467, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col30per {
    width: 30%; }

  /* line 468, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col40per {
    width: 40%; }

  /* line 469, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col50per {
    width: 50%; }

  /* line 470, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col60per {
    width: 60%; }

  /* line 471, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col70per {
    width: 70%; }

  /* line 472, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col80per {
    width: 80%; }

  /* line 473, ../sass/_nav.scss */
  .menu_container .menu_dropdown_block .column.col90per {
    width: 90%; } }
/***************/
/* line 478, ../sass/_nav.scss */
.menu_container.topfixed {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: 0; }

/* line 486, ../sass/_nav.scss */
.menu_container.centered > ul {
  float: none;
  margin: 0 auto;
  max-width: 1000px; }
